/* Global styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

/* Heading styles */
h2 {
    text-align: center;
    margin-top: 20px;
    color: #333; /* Darken the heading color */
}

/* Form input styles */
input[type="text"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 10px auto;
    display: block;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box; /* Include padding and border in width calculation */
}

/* Button styles */
button {
    padding: 10px 20px;
    margin: 10px auto;
    display: block;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s; /* Smooth hover transition */
}

button:hover {
    background-color: #0056b3;
}

/* List styles */
ul {
    list-style-type: none;
    padding: 0;
    margin: 20px auto;
    max-width: 400px;
}

ul li {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

/* Back button styles */
#back_button {
    float: right;
    margin: 10px auto;
    display: block;
    background-color: grey; /* color for back button */
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s; /* Smooth hover transition */
}

#back_button:hover {
    background-color: #c82333; /* Darken the red color on hover */
}
