:root {
    --primary-color: #007bff;
    --hover-color: red;
    --remove-color: #dc3545;
    --remove-hover-color: #c82333;
}

body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #f8f8f8;
    font-size: xx-large;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

label, h2 {
    display: block;
    margin-bottom: 20px;
    font-size: xx-large;
}

h2 {
    text-align: center;
    color: #333;
}

input[type="text"] {
    width: 150px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

button, li button {
    padding: 10px 20px;
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover, li button:hover {
    background-color: var(--hover-color);
}

li button {
    background-color: var(--remove-color);
}

li button:hover {
    background-color: var(--remove-hover-color);
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: space-between;
}