body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: aliceblue;
}

nav {
    background-color: #00008B;
    color: white;
    padding: 20px;
    text-align: right;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    color: white;
    display: inline;
    margin-left: 20px;
    font-weight: bold;
    text-decoration: none;
}

.left-align {
    color: white;
    float: left; /* Use float: left to move the element to the left */
    margin-left: 20px; /* Remove the margin for this specific element */
    margin-top: -4px;
}

.img{
    border-radius: 20px;
    width: 10%;
    height: auto;
}

.car img {
    border-radius: 25px;
    width: 50%;
    height: auto;
    max-width: 100%;
}

.Blue{
    border-radius: 25px;
    width: 50%;
    height: auto;
}

.Ef{
    border-radius: 25px;
    width: 50%;
    height: auto;
}

.R32{
    border-radius: 25px;
    width: 50%;
    height: auto;
}

.R33{
    border-radius: 25px;
    width: 50%;
    height: auto;
}

.TypeR{
    border-radius: 25px;
    width: 50%;
    height: auto;
}

.CR32{
    border-radius: 25px;
    width: 50%;
    height: auto;
}

section {
    padding: 50px;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
}

label {
    margin-bottom: 5px;
}

input, textarea {
    margin-bottom: 15px;
    padding: 8px;
}

button {
    background-color: #333;
    color: white;
    padding: 10px;
    cursor: pointer;
}
