/* CSS for Nav bar */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: aliceblue;
}

nav {
    background-color: #00008B;
    color: white;
    padding: 20px;
    text-align: right;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    color: white;
    display: inline;
    margin-left: 20px;
    font-weight: bold;
    text-decoration: none;
}

.right-align li a{
    color: white;
    padding: 10px;
    text-decoration: none;
}

.left-align { /* changes Moravian University at the top */
    color: white;
    float: left; /* Use float: left to move the element to the left */
    margin-left: 20px; /* Remove the margin for this specific element */
    margin-top: -4px;
}

/* End of Nav bar */

/* Start of Home Section */

section h1{
    text-align: center;
    height: -10;
}

.img{
    background-image: url(/Bball_project/FrontTerm/images/moravianlogo.jpeg);
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    width: 10%;
    height: auto;
}

#roster_button{
    background-color: black;
    color: white;
    padding: 10px;
    cursor: pointer;
    border-radius: 10px;
    margin-left: 0px;
    cursor: pointer;
}

#roster_button:hover{
    background-color: #0000FF;
    color: white;
    padding: 10px;
    cursor: pointer;
    border-radius: 10px;
    margin-left: 0px;
    cursor: pointer;
    transition: 0.5s;
}

#threepoint_button{
    background-color: black;
    color: white;
    padding: 10px;
    cursor: pointer;
    border-radius: 10px;
    margin-left: 0px;
    cursor: pointer;
}

#threepoint_button:hover{
    background-color: #0000FF;
    color: white;
    padding: 10px;
    cursor: pointer;
    border-radius: 10px;
    margin-left: 0px;
    cursor: pointer;
    transition: 0.5s;
}
/* End of Home Section */

section {
    padding: 50px;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
}

label {
    margin-bottom: 5px;
}

input, textarea {
    margin-bottom: 15px;
    padding: 8px;
}

button {
    background-color: #333;
    color: white;
    padding: 10px;
    cursor: pointer;
}
